:root {
  --background-color: #f8f4f4; /* whiten */
  --primary-color: #2c3e50; /* light dark blue */
  --secondary-color: #3498db; /* sky blue */
  --accent-color1: #e67e22; /* golden yellow */
  --accent-color2: #2c3e50; /* dark blue */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

.site-header img {
  display: grid;
  grid-template-columns: auto 1fr; /* logo takes natural width, nav fills rest */
  align-items: center;             /* vertically center both logo and nav */
  padding: 25 25px;
  background: var(--accent-color2);
}

header {
    display: grid;
    grid-template-columns: 50px 0.5fr 0.5fr;
    align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* flex inside nav for horizontal links */
.nav-bar ul {
  display: flex;          
  justify-content: flex-end;
  align-items: center; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  margin-left: 30px;
  padding: 0.5rem 0.5rem;  /* reduce top/bottom space */
  height: 0.8pc;       
}

.nav-bar a {
  text-decoration: none;
  color: white;
  text-align: center;
}



h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}

article {
    position: absolute;
    bottom: 0px;
    background-color: white;
}

.hero article img {
    float: right;
    width: 140px;
    height: 150px;
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    width: 40%;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--accent-color1);
    color: white; /* white text - make sure there is enough contrast with the background- color */
}



p,  article {
    margin: 10px;
    padding: 4px;
}

figure.horizontal {
  display: flex;          /* places children side by side */
  align-items: center;    /* vertically align image and caption */
  gap: 0.2px;              /* space between image and caption */
}

figure.horizontal img {
  max-width: 128px;       /* control image size */
}


figure img {
    display: flex;
    justify-content: flex-end;
    width: 128px;
    height: auto;
}


nav, section {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    display: flex;
    text-decoration: none;
    float: right;
    align-items: center;
    margin: 2%;
    padding: 1%;
}

ul, li, a {
    font-family: var(--body-font);
    color: var(--accent-color1);
    margin: 10px;
    padding: 5px;
}

footer {
    position: relative;
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    position: absolute;
    width: 80%;
    margin: 0%;
    padding: 4%;
    font-family: var(--body-font);
    color: var(--accent-color1);
}

